.details-content1 {
    background-color: white;
    width: 750px;
    height: 520px;
    margin-top: 10px;
    margin-left: 250px;
    padding: 5px;
    border: 2px solid #d9d9d9;
    margin-bottom: 30px;
}
.order-button{
    margin-top: 12px;
    margin-left: 330px;
    width: 151px;
    height: 35px;
    background: #3371B5 0% 0% no-repeat padding-box;
    opacity: 1;
    color: white;
    border: 1px solid #f2f2f2;
    cursor: pointer;
    margin-bottom: 10px;
}
.button-order{
    border-top: 2px solid #d9d9d9;
    display: flex;
    margin-bottom: 15px;
    margin-top: 30px;
    border-bottom : 2px solid #d9d9d9;
}
.cart-total{
    margin-left: 10px;
    color: black;
}
.cart-total-div{
    display: flex;
}
.cart-total-title{
    color:black;
    width:170px;
    margin-left: 30px;
    font-size: 20px;
}

.details-header1 {
    color: black;
    font: 25px bold;
    margin-left: 40px;
    width: 700px;
    display: flex;
}
.edit-button{
    margin-left: 460px;
    margin-top: 0px;
    border: 1px solid white;
    background-color: white;
    font-size: 17px;
    cursor: pointer;
}